body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbarNav {
    justify-content: flex-end;
}
.nav-item {
    margin: auto;
}
.badge {user-select: none; cursor: pointer; }
.navbar-light {
    color: black;
    background-color: #f8fafa;
}
.navbar-dark {
    color: white;
    background-color: black;
}
.nav_light { /* 모드 변경 버튼 */
    color : white
}
.nav_dark { /* 모드 변경 버튼 */
    color: black;
}
article {
    display: flex;
}
aside {     /*aside 시작*/
    width: 300px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    text-align: center;
}
#select_area {
    padding: 10px 0 10px 0;
}
.select_in {
    width: 95%;
}
.storege_in {
    width: 100%;
    height: 100%;
}           /*aside 끝*/

section {   /*section 시작*/
    float: left;
    width: 100%;
    height: 100vh;
    background-color: brown;
    overflow: hidden;
}
.ide_in {
    width: 100%;
    height: 100vh;
}
/*section 끝*/